#container{
    width: 30%;
    margin: 17% auto;
}
ul{
    list-style: none;
    
    li{
        background-color: $bacground;
        padding: 2% 0 2% 0;
        border-radius: 2px; 
        border: 1px solid $border;
        color: $font;
        &:hover{
            padding-bottom: 0;
        }
        span{
            padding-left:4%; 
        }
    }
}
//funcionalidad
p{
    display: none;
    border: 1px solid $border;
    border-top: 0;
    color: $font;
    margin-top: 2%;
    background-color: white;
    color: $font;
    padding: 4%;
    text-align: justify;
}

li:hover {
    p {
        display: block;
    }
}

