* {
    margin:0px;
    padding:0px;
}

body {
    margin:auto;
    width:500px;
    font-family: $arial;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav{
    li{
        a{
            background-color: $gray;
            color: $white;
            text-decoration:none;
            padding:10px 12px;
            display:block;
            border: 1px solid $border-color;
        }
    }
    
}

.nav {
    li{
        a:hover {
            background-color: $green;
        }
    } 
}
.nav {
    li {
        ul {
            display:none;
            position:absolute;
            min-width:140px;
        }
    }
}

.nav{
    li:hover > ul {
        display:block;
    }
} 

.nav {
    li {
        ul{
            li {
                position:relative;
            }
        }
    }
}

.nav {
    li {
        ul{
            li{
                ul{
                    right:-140px;
                    top:0px;
                }
            } 
        }
    }
}
